// Default
.content {
	position: relative;
	padding: 30px 0;
	text-align: left;

	@include bp($mobile-break) {
		text-align: left;
		padding: 60px 0;
	}

	.bar--header & {
		z-index: 50;
	}
}

.content--header {
	height: 100%;
	display: flex;
  align-items: center;
	position: fixed;
	left: 0;
	right: 0;
	padding: 0 20px;
}

.content--center {
	text-align: center;
}

.content-wrap {
	max-width: 540px;
	margin: 0 auto;
	position: relative;
	z-index: 1;

	&.left {
		margin: 0;
	}

	&.right {
		margin: 0 0 0 auto;
	}

	&.center {
		text-align: center;
	}

}

.content-wrap--large {
	max-width: 800px;
}

// Content title - default
.content__title {
	// Sizing
	margin-top: 0;
	letter-spacing: 1px;
	font-family: $font;
	font-weight: 600;
	text-align: center;
	color: $white;
	font-size: 20px;

	@include bp($mobile-break) {
		font-size: 32px;
	}
}

.content__title--small {
	@include bp($mobile-break) {
		font-size: 21px;
	}
}

.content__title--green {
	color: $green;
}

.content__title--blue {
	color: $blue;
}

.content__title--lt-blue {
	color: $lt-blue;
}

.content__title--pink {
	color: $pink;
}

.content__title--main {
	font-weight: 500;
	color: $purple;

	@include bp($mobile-break) {
		font-size: 46px;
	}

	.location {
		font-weight: 500;
		margin-top: 6px;

		@include bp($mobile-break) {
			font-size: 28px;
		}

	}

	.job__title,
	.location {
		display: inline-block;
		background: rgba($pale-pink, 0.7);
		padding: 5px 8px;
	}
}

.content__title--contact {
	text-align: left;

	@include bp($mobile-break) {
		font-size: 24px;
	}
}

// Content text = default
.content__text {
	margin-bottom: 0;
	line-height: 24px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: rgba($white,0.9);

	p {
		margin-bottom: 0;
	}
	h1 {
		margin-top: 0;
	}

	a {
		// Font
		color: $black;
		@include transition(0.3s color ease-out);

		&:hover {
			// Font
			color: $black;
		}
	}

	ul,
	ol {
		text-align: left;
		padding-left: 25px;

		li {
			margin: 6px 0;
		}
	}

	strong,
	bold {
		font-weight: normal;
		font-family: $font;
	}
}

.content__text--copy {
	margin: 0;
	text-align: center;

	@include bp($mobile-break) {
		text-align: left;
	}

	p {
		font-size: 12px;
		margin: 0;
	}
}

.content__text--contact {
	margin-bottom: 20px;
}

// Content img = scale
.content__img {}

.content__img--logo {
	margin-bottom: 25px;

	@media all and (max-width: 600px) {
		width: 84px;
		height: 41px;
	}
}

.content__img--portfolio-c {
	position: absolute;
	top: -60px;
	right: -60px;
}

.content__img--envelope {
	margin-left: -80px;
	margin-bottom: 20px;
}

.gif-wrapper {
	height: 70px;
	margin-bottom: 30px;

	.content__img--logo {
		margin-top: -60px;
	}
}
