// multi

.pane-wrapper {
  margin: 0 -20px;
  font-size: 0;
  margin-top: 40px;

  & + .pane-wrapper {
    margin-top: 0px;
  }

  .container--portfolio & {
    display: block !important;

    .pane {
      @include opacity(1);
    }

    .button-wrapper {
      display: none;
    }
  }
}

.pane {
  padding: 20px;
  display: block;
  font-size: $base-font-size;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  @include opacity(0);
  @include transition(0.4s opacity ease-out);

  @include bp(500) {
    max-width: none;
    display: inline-block;
    vertical-align: top;
    width: 50%;
  }

  @include bp($mobile-break) {
    width: 33.33%;
  }

  .visible & {
    @include opacity(1);
  }
}

.pane-inner {
  display: block;
  background: $lt-purple;
  width: 100%;
  padding-top: 100%;
  @include border-radius(10px);
  position: relative;
  overflow: hidden;
  @include box-shadow(0 0 10px 6px rgba($black,0.1));

  &:after {
    content: '';
    position: absolute;
    background: $green;
    top: 110%;
    width: 300%;
    height: 300%;
    z-index: 2;
    @include opacity(0);
    @include transform(rotate(-15deg));
    @include transition(0.4s ease-out);

    .portfolio & {
      background: $blue;
    }
  }

  &:hover {

    &:after {
      top: -70%;
      @include opacity(0.6);
      @include transform(rotate(-35deg));
    }

    .pane__img {
      @include opacity(0.6);
      @include transform(scale(1.1));
    }

    .pane-content {
      @include opacity(1);
    }
  }

  * {
    cursor: pointer;
  }

}

.pane__img {
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  @include opacity(1);
  @include transition(0.3s ease-out);
}

.pane-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
  padding: 20px;
  text-align: center;

  display: flex;
  justify-content: center;
  flex-direction: column;
  @include opacity(0);
  @include transition(0.5s ease-out);
}

.pane-content__title {
  color: $white;
  font-family: $font-semi;
  font-weight: normal;
  font-size: 24px;
  margin-top: 0;
  width: 100%;
}

.pane-content__button {
  background: $white;
  color: $purple;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  max-width: 160px;
  margin: 0 auto;
  font-size: 14px;
  font-family: $font-semi;
  @include border-radius(20px);
}

.monitor-overflow {
  overflow: hidden;
}
// page
.monitor-wrapper {
  display: block;
  position: relative;
  width: 100%;
  max-width: 860px;
  height: 500px;
  margin: 0 auto 250px;


  @media all and(max-width:1020px) {
    margin-bottom: 0;
  }

  .monitor-overlay {
    background: rgba($white,0.1);
    position: absolute;
    top: -50%;
    right: -100px;
    left: -100px;
    bottom: 50%;
    @include transform(rotate(15deg));
    @include transition(0.05s ease-out);


    @media all and(max-width:1020px) {
      display: none;
    }
  }
}

.monitor-inner {
  overflow: hidden;
  position: relative;
  z-index: 4;
  height: 100%;
  background: $black;
	@include linear-gradient(to bottom, $black, #292929);
  padding: 35px;
  @include border-radius(10px 10px 0 0);

  @media all and(max-width:1020px) {
    animation: none;
    padding: 0;
    @include border-radius(0);
    background: transparent;
  }
}

.monitor-stand {
  background: #eae4e4;
  height: 100px;
  width: 100%;
  position: absolute;
  z-index: 5;
  top: 100%;
  left: 0;
  right: 0;
  @include border-radius(0 0 10px 10px);
  line-height: 100px;
  text-align: center;

  @media all and(max-width:1020px) {
    display: none;
  }
}

.monitor-stand__platform {
  position: absolute;
  z-index: 3;
  top: 100%;
  margin-top: 70px;
  left: 50%;
  display: block;
  border-bottom: 120px solid #d6cdcd;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  height: 0;
  width: 230px;
  margin-left: -115px;

  animation-delay: 0.5s;

  @media all and(max-width:1020px) {
    display: none;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: 120px;
    height: 15px;
    background: #eae4e4;
    width: 330px;
    margin-left: -165px;
    @include border-radius(10px 10px 0px 0px);
  }

}

.monitor-stand__brand {
}

.site-wrapper {
  position: relative;
  z-index: 2;
  background: $white;
  @include box-shadow(0 0 5px 2px rgba($black,0.1));
  overflow: auto;
  animation-delay: 1s;
  animation-duration: 0.6s;
  overflow: auto;
  @include border-radius(10px);

  @include bp(768) {
    max-height: 600px;
    max-width: 800px;
    margin: 0 auto;
  }

  @media all and(max-width:1020px) {
    animation: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    @include box-shadow(none);
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}
