$font: 'montserratregular', sans-serif;
$font-med: 'montserratmedium', sans-serif;
$font-semi: 'montserratsemibold', sans-serif;

$base-font-family: $font;
$base-title-family: $font;
$base-font-size: 16px;
$base-font-size-nounit: 16;
$line-height-ratio: 1.4;

// colours

// shades
$white: #ffffff;
$black: #000000;

// colours
$purple: #575483;
$lt-purple: #3d3d5d;
$pale-pink: #f3c1c3;
$pink: #f7658d;
$salmon: #f27e74;
$green: #00ff80;
$blue: #161250;
$lt-blue: #318ae6;
$red: #e92c42;
$yellow: #e8e618;
$green: #2abd79;

$linkedin: #0077b5;
$facebook: #3b5998;
$twitter: #54aaec;
$google: #d34836;
$youtube: #bb0000;

// Default
$error: $red;
$success: $green;

// Containers
$container-width: 1000px !default;
$wrapper-width: 100%;

// Map
$google-map-full: false !default;

// Transitions
$transition: 0.4s ease-out;

// Break points
$mobile-break: 768;
$mobile-break-max: 767px;
$ipad-break: 1024;

$header-offset: 70px;
